//-------------------------------------------------------------------------------
  @name: Contact
  -------------------------------------------------------------------------------//

-
  dataContact = {
    desc: 'ART CLUB dolor sit amet, consectetur adipiscing elit. Quisque justo lectus, mattis quis enim eu, auctor dignissim nibh. Quisque dapibus nisl sit amet nunc hendrerit tincidunt. Sed dictum turpis nec magna rutrum, sed pretium velit elementum.',
    location: 'Jl. Merpati II No.1, RT.6/RW.5,</br>Jakarta Selatan, DKIJakarta 12330',
    list: [
      {
        to: '#',
        title: '@Kamengski'
      },
      {
        to: '#',
        title: '@kamengski_stuff'
      },
      {
        to: '#',
        title: 'Tokopedia'
      },
      {
        to: '#',
        title: 'Shopee'
      }
    ]
  }

include ../../components/contact.pug
