//-------------------------------------------------------------------------------
  @name: Product Detail
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Berkah Football Club Jersey',
    price: '400000',
    desc: 'printed polyester with heat press woven logo and tyvek label Pendekatan Adyth dalam penciptaan Feature Length Nonsense kemudian menginspirasi seniman kolase Moses Sihombing untuk mendesain sampul album yang interaktif. Lewat medium stiker, pemilik album dipersilahkan untuk membuat sampil',
    sizeChart: 'size-chart.jpg',
    list: [
      {
        img: 'product-1.png'
      },
      {
        img: 'product-2.png'
      },
      {
        img: 'product-3.png'
      },
      {
        img: 'product-4.png'
      },
      {
        img: 'product-5.png'
      },
      {
        img: 'product-6.png'
      },
      {
        img: 'product-7.png'
      },
      {
        img: 'product-8.png'
      },
      {
        img: 'product-9.png'
      },
      {
        img: 'product-10.png'
      },
    ]
  }

include ../../layouts/product-detail.pug
include ../../components/popup-size-chart.pug
