//-------------------------------------------------------------------------------
  @name: Related Product
  -------------------------------------------------------------------------------//

-
  dataRelatedProduct = {
    list: [
      {
        to: 'product.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-1.png'
      },
      {
        to: 'product.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-2.png'
      },
      {
        to: 'product.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-3.png'
      },
      {
        to: 'product.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-4.png'
      }
    ]
  }

include ../../layouts/related-product.pug
