/* -------------------------------------------------------------------------- */
/* Layouts: Index                                                             */
/* -------------------------------------------------------------------------- */

@import "header";
@import "product";
@import "story";
@import "contact";
@import "related-product";
@import "product-detail";
@import "footer";
