/* -------------------------------------------------------------------------- */
/* Layouts: Detail Product                                                    */
/* -------------------------------------------------------------------------- */

.detail-product {

}
