/* -------------------------------------------------------------------------- */
/* Layouts: Header                                                            */
/* -------------------------------------------------------------------------- */

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 28px;
  z-index: zi(header);
  transition: all .3s ease;
  transition-delay: 0s;
  .show-filter & {
    transition-delay: .4s;
    transform: translateX(-140px);
  }
  &__logo {
    position: relative;
    display: block;
    text-align: center;
    height: 0;
    &__el {
      transform-origin: center center;
      transition: all .3s ease;
    }
    .window-scrolled & {
      &__el {
        transform: scale(.6);
      }
    }
  }
  &__menu {

  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    z-index: zi(header-list);
    position: absolute;
    top: 54px;
    &:first-child {
      left: 32px;
    }
    &:last-child {
      right: 32px;
      text-align: right;
    }
  }
  &__item {
    &:nth-child(1) {
      transition: opacity .3s ease .2s, transform .3s ease .2s, color .3s ease;
    }
    &:nth-child(2) {
      transition: opacity .3s ease .25s, transform .3s ease .25s, color .3s ease;
    }
    .show-filter & {
      opacity: 0;
      transform: translateY(16px);
      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.05ms;
      }
    }
    &--active,
    &:hover {
      color: color(primary);
    }
  }
  &__link {
    text-decoration: none;
    font-family: ff(family-title);
    @include font-size(h5);
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
  }
}
