/* -------------------------------------------------------------------------- */
/* Layouts: Header                                                            */
/* -------------------------------------------------------------------------- */

.header {
  $h: &;
  z-index: zi(header);
  padding-top: 32px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all .3s ease;
  transition-delay: 0s;
  @include x-small {
    padding-top: 24px;
  }
  .show-filter & {
    transition-delay: .4s;
    transform: translateX(-140px);
    @include large {
      transform: translateX(-64px);
    }
    @include medium {
      transform: translateX(-40px);
    }
    @include small {
      transform: none;
    }
  }
  &__content {
    height: 0;
  }
  &__logo {
    position: relative;
    height: 110px;
    width: 280px;
    margin: 0 auto;
    transition: padding 2s ease, height 2s ease, width 2s ease;
    @include medium {
      position: static;
      width: 100%;
      height: 60px;
      padding: 0;
    }
    @include small {
      height: 56px;
    }
    @include x-small {
      height: 48px;
    }
    .home .show-animation & {
      height: 92vh;
      width: 100%;
      padding-left: 48px;
      padding-right: 48px;
      @include medium {
        height: 60px;
        width: initial;
      }
    }
    .home .show-animation.run-scroll-animation & {
      height: 110px;
      width: 280px;
      padding: 0;
      @include medium {
        height: 60px;
        width: initial;
      }
    }
    &__el {
      width: 100%;
      height: 100%;
      transform-origin: center center;
      object-fit: contain;
      object-position: bottom center;
      transition: all .3s ease;
      .window-scrolled & {
        transform: scale(.7);
        @include medium {
          transform: none;
        }
      }
    }
  }
  &__menu {
    @include x-small {
      font-size: 0;
      text-align: center;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    z-index: zi(header-list);
    position: fixed;
    top: 48px;
    @include medium {
      top: 32px;
    }
    @include small {
      top: 28px;
    }
    &:first-child {
      left: 32px;
      text-align: left;
      @include retina {
        left: 24px;
      }
    }
    &:last-child {
      right: 32px;
      text-align: right;
      @include retina {
        right: 24px;
      }
      #{$h} {
        &__link {
          margin-left: auto;
        }
      }
    }
  }
  &__item {
    &:nth-child(1) {
      transition: opacity .3s ease .2s, transform .3s ease .2s, color .3s ease;
      margin-bottom: 12px;
      @include medium {
        margin-bottom: 8px;
      }
    }
    &:nth-child(2) {
      transition: opacity .3s ease .25s, transform .3s ease .25s, color .3s ease;
    }
    .show-filter & {
      opacity: 0;
      transform: translateY(16px);
      @include medium {
        opacity: 1;
        transform: none;
      }
      &:nth-child(1) {
        transition-delay: 0.15s;
      }
      &:nth-child(2) {
        transition-delay: 0.1s;
      }
    }
    &:hover {
      color: color(primary);
    }
    &--active {
      button {
        color: color(primary);
      }
    }
  }
  &__link {
    @include font-size(h5);
    text-decoration: none;
    font-family: ff(family-title);
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    transition: all .3s ease;
    display: block;
    &:hover {
      color: color(primary);
      @include medium {
        color: color(black);
      }
    }
    @include x-small {
      @include font-size(label);
    }
  }
}
