/* -------------------------------------------------------------------------- */
/* Layouts: Header                                                            */
/* -------------------------------------------------------------------------- */

.header {
  z-index: zi(header);
  padding-top: 32px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  @include x-small {
    padding-top: 24px;
  }
  .home & {
    position: relative;
    padding-top: 100vh;
    transition: all 2s ease;
    @include medium {
      padding-top: 32px;
      transition: none;
    }
  }
  &__content {
    transition: all .3s ease;
    transition-delay: 0s;
    @include medium {
      position: static;
    }
    .home & {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      @include medium {
        position: static;
      }
    }
    .show-filter & {
      transition-delay: .4s;
      transform: translateX(-140px);
      @include large {
        transform: translateX(-64px);
      }
      @include medium {
        transform: none;
      }
    }
  }
  &__logo {
    height: 110px;
    @include medium {
      position: static;
      width: 100%;
      height: 60px;
      padding: 0;
    }
    @include x-small {
      height: 56px;
      margin-bottom: 24px;
    }
    .home & {
      position: fixed;
      height: calc(100% - 40px);
      top: 40px;
      left: 50%;
      width: 100%;
      display: block;
      padding: 0 56px 48px 56px;
      transition: all 2s ease;
      transform: translateX(-50%);
      @include medium {
        position: static;
        height: 60px;
        transform: none;
        transition: none;
      }
      @include x-small {
        height: 56px;
      }
    }
    .start-animation & {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      height: 70px;
      width: 180px;
      @include small {
        width: 152px;
        height: 60px;
      }
    }
    &__el {
      width: 100%;
      height: 100%;
      transform-origin: top center;
      object-fit: contain;
      object-position: bottom center;
      transition: all .3s ease;
      .window-scrolled & {
        transform: scale(.7);
      }
    }
  }
  &__menu {
    @include x-small {
      font-size: 0;
      text-align: center;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    z-index: zi(header-list);
    position: absolute;
    top: 48px;
    @include x-small {
      position: relative;
      top: initial;
      display: inline-block;
      vertical-align: middle;
    }
    &:first-child {
      left: 32px;
      @include mq(1280px) {
        left: 88px;
      }
      @include medium {
        left: 64px;
      }
      @include small {
        left: 48px;
      }
      @include x-small {
        left: initial;
        margin-right: 20px;
      }
      @include retina {
        margin-right: 8px;
      }
    }
    &:last-child {
      right: 32px;
      text-align: right;
      @include mq(1280px) {
        right: 88px;
      }
      @include medium {
        right: 64px;
      }
      @include small {
        right: 48px;
      }
      @include x-small {
        right: initial;
      }
    }
  }
  &__item {
    &:nth-child(1) {
      transition: opacity .3s ease .2s, transform .3s ease .2s, color .3s ease;
    }
    &:nth-child(2) {
      transition: opacity .3s ease .25s, transform .3s ease .25s, color .3s ease;
    }
    @include large {
      display: inline-block;
      vertical-align: middle;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }
    @include medium {
      margin-right: 24px;
    }
    @include small {
      margin-right: 20px;
    }
    @include retina {
      margin-right: 8px;
    }
    .show-filter & {
      opacity: 0;
      transform: translateY(16px);
      @include medium {
        opacity: 1;
        transform: none;
      }
      &:nth-child(1) {
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        transition-delay: 0.05ms;
        @include large {
          transition-delay: 0.1s;
        }
      }
    }
    &--active,
    &:hover {
      color: color(primary);
    }
  }
  &__link {
    @include font-size(h5);
    text-decoration: none;
    font-family: ff(family-title);
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    transition: all .3s ease;
    &:hover {
      color: color(primary);
      @include medium {
        color: color(black);
      }
    }
    @include x-small {
      @include font-size(label);
    }
  }
}
