/* -------------------------------------------------------------------------- */
/* Layouts: Header                                                            */
/* -------------------------------------------------------------------------- */

.header {
  $h: &;
  position: fixed;
  z-index: zi(header);
  width: 100%;
  transition: all .5s ease;
  background-color: color(white);
  padding-top: 56px;
  padding-bottom: 56px;
  @include large {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @include medium {
    padding-top: 16px;
    padding-bottom: 16px;
    &::before {
      content: '';
      position: fixed;
      top: 64px;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(0,0,0,0.6);
      transition: all .75s ease;
      transition-delay: .65s;
      .show-nav & {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }
  .window-on-scroll & {
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all .5s ease;
    @include shadow(10);
  }
  .window-scrolled & {
    padding-top: 16px;
    padding-bottom: 16px;
    transform: translateY(-100%);
    transition: all .5s ease;
  }
  &__content {
    @include clearfix;
  }
  &__logo {
    float: left;
    height: 40px;
    @include medium {
      height: 32px;
    }
    &__el {
      height: 100%;
    }
  }
  &__menu {
    float: right;
    @include medium {
      position: fixed;
      top: 64px;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 24px 32px;
      transform: scaleY(0);
      transition: all .45s ease;
      transform-origin: top center;
      transition-delay: .55s;
      background-color: color(blue, 1);
      @include scroll('y', 'touch', 'show');
      .show-nav & {
        transform: none;
        transition-delay: 0s;
      }
    }
    @include small {
      padding-right: 24px;
      padding-left: 24px;
    }
  }
  &__nav {
    $hn: &;
    padding: 6px 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 0;
    @include medium {
      padding: 0;
    }
    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px;
      color: color(black);
      @include font-size(18);
      @include medium {
        @include font-size(24);
        display: block;
        opacity: 0;
        margin-right: 0;
        color: color(white);
        transform: translateY(12px);
        transition: all .5s ease;
        @for $i from 1 through 5 {
          $delay: 250 - ($i * 30) + ms;
          &:nth-child(#{$i}) {
            transition-delay: $delay;
          }
        }
        .show-nav & {
          transform: none;
          opacity: 1;
          @for $i from 1 through 5 {
            $delay: 350 + ($i * 50) + ms;
            &:nth-child(#{$i}) {
              transition-delay: $delay;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include small {
        @include font-size(18);
      }
      &:last-child {
        margin-right: 0;
      }
      &--active {
        font-weight: fw(bold);
        #{$h}__nav__link {
          opacity: 1;
        }
        @include medium {
          color: color(white);
        }
      }
    }
    &__link {
      display: inline-block;
      text-decoration: none;
      opacity: .5;
      transition: all .3s ease;
      @include medium {
        opacity: 1;
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .burger-menu {
    display: none;
    @include medium {
      display: block;
      position: absolute;
      z-index: zi(header-burger-menu);
      right: 24px;
      top: 8px;
      &__bar {
        transition: all .3s ease .6s;
        .show-nav & {
          background-color: color(blue, 1);
          transition-delay: 0s;
          &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }
          &:nth-child(2) {
            transform: scaleX(0);
          }
          &:nth-child(3) {
            transform: rotate(-225deg) translate(-5px, 5px);
          }
        }
      }
    }
    @include small {
      right: 12px;
    }
  }
}
