/* -------------------------------------------------------------------------- */
/* Layouts: Product                                                           */
/* -------------------------------------------------------------------------- */

.product {
  $p: &;
  padding-bottom: 80px;
  &__filter {
    text-align: right;
    margin-bottom: 18px;
  }
  &__list {
    @include clearfix;
    margin-left: -14px;
    margin-right: -14px;
  }
  #{$p} {
    &__item {
      width: 25%;
      float: left;
      padding: 24px 14px;
    }
  }
}
