/* -------------------------------------------------------------------------- */
/* Layouts: Product detail                                                    */
/* -------------------------------------------------------------------------- */

.product-detail {
  padding-top: 88px;
  padding-bottom: 114px;
  .container {
    @include clearfix;
  }
  &__left {
    float: left;
    width: 50%;
  }
  &__right {
    float: left;
    width: 50%;
    padding-left: 100px;
  }
  &__main-img {
    max-width: 548px;
    margin-bottom: 24px;
  }
  &__control-img {
    font-size: 0;
    cursor: pointer;
    &__item {
      width: 47px;
      height: 47px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__el {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    margin-bottom: 12px;
  }
  &__price {
    font-weight: fw(regular);
    margin-bottom: 24px;
  }
  &__desc {
    margin-bottom: 24px;
    p {
      margin-bottom: 0;
    }
  }
  &__action {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 0;
    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: color(primary);
    font-weight: fw(bold);
    @include font-size(h5);
    transition: all .3s ease;
    &:hover {
      color: color(secondary);
    }
  }
}
