/* -------------------------------------------------------------------------- */
/* Layouts: Related Product                                                   */
/* -------------------------------------------------------------------------- */

.related-product {

}
