/* -------------------------------------------------------------------------- */
/* Layouts: Story                                                             */
/* -------------------------------------------------------------------------- */

.story {
  padding-top: 160px;
  @include large {
    padding-top: 144px;
  }
  @include medium {
    padding-top: 112px;
  }
  @include small {
    padding-top: 96px;
  }
  @include x-small {
    padding-top: 64px;
  }
}
