/* -------------------------------------------------------------------------- */
/* Layouts: Testimony                                                         */
/* -------------------------------------------------------------------------- */

.testimony {
  $t: &;
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
  @include large {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  @include medium {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  @include small {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  &__box {
    background: linear-gradient(to left bottom, color(blue, 4) 9.05%, color(blue, 5) 76.74%);
    border-radius: 24px;
    padding-top: 64px;
    padding-bottom: 80px;
    position: relative;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    @include large {
      padding-top: 60px;
      padding-bottom: 80px;
    }
    @include medium {
      padding-top: 56px;
      padding-bottom: 72px;
    }
    @include small {
      padding-top: 48px;
      padding-bottom: 64px;
    }
    @include retina {
      padding-top: 32px;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: zi(testimony-bg-1);
      bottom: 38px;
      left: -54px;
      width: 132px;
      height: 115px;
      background: url(../img/bg/dot-pattern-1.svg) no-repeat bottom center/100%;
      @include small {
        content: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      z-index: zi(testimony-bg-2);
      top: -12px;
      right: -48px;
      width: 132px;
      height: 115px;
      background: url(../img/bg/dot-pattern-2.svg) no-repeat;
      @include small {
        content: none;
      }
    }
  }
  .text-title {
    text-align: center;
    margin-bottom: 56px;
    @include medium {
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 32px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .owl-carousel {
    .owl-item.active {
      #{$t} {
        &__avatar {
          opacity: 1;
          transform: scale(1);
          transition: all 2s ease;
        }
        &__customer {
          &__name {
            opacity: 1;
            transform: none;
            transition: all 1s ease;
            transition-delay: .3s;
          }
          &__position {
            opacity: 1;
            transform: none;
            transition: all 1s ease;
            transition-delay: .5s;
          }
        }
        &__desc {
          opacity: 1;
          transform: none;
          transition: all 1s ease;
          transition-delay: .75s;
        }
      }
    }
    .owl-nav,
    .owl-dots {
      position: absolute;
      bottom: -140px;
      left: 50%;
      transform: translateX(-50%);
      z-index: zi(testimony-dots);
      @include large {
        bottom: -132px;
      }
      @include medium {
        bottom: -124px;
      }
      @include small {
        bottom: -116px;
      }
    }
    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        bottom: 0;
        z-index: 1;
        opacity: 1;
        @include font-size(18);
        color: color(blue, 1);
        transition: all 350ms ease;
        @include small  {
          @include font-size(14);
        }
        i {
          display: inline-block;
          vertical-align: middle;
        }
        &.disabled {
          opacity: .3;
        }
      }
      .owl-prev {
        right: 137px;
        @include small {
          right: 80px;
        }
      }
      .owl-next {
        left: 137px;
        @include small {
          left: 80px;
        }
      }
    }
    .owl-dots {
      font-size: 0;
    }
    .owl-dot {
      display: inline-block;
      vertical-align: middle;
      margin-right: 18px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: .3;
      background-color: color(blue, 1);
      transition: all 350ms ease;
      @include small {
        margin-right: 16px;
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        opacity: 1;
        transform: scale(1.2);
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
