//-------------------------------------------------------------------------------
  @name: Feed Instagram
  -------------------------------------------------------------------------------//

//feed-instagram
.feed-instagram
