//-------------------------------------------------------------------------------
  @name: Popup Size Chart
  -------------------------------------------------------------------------------//

//popup-size-chart
.popup-size-chart
  ='\n'
  img.popup-size-chart__img(src='assets/img/dummy/size-chart.jpg', alt='Size Chart')/
