//- ------------------------------------------------------------------------ -//
//- Services Item                                                            -//
//- ------------------------------------------------------------------------ -//

//services-item
.services__item
  .services__box
    .services__img
      ='\n'
      img.services__img__el(src="assets/img/dummy/"+data.img, alt=data.title)/
    h3.services__item__title
      | !{data.title}
    p.services__item__desc
      | !{data.desc}
