//- ------------------------------------------------------------------------ -//
//- Testimony Item                                                           -//
//- ------------------------------------------------------------------------ -//

//testimony-item
.testimony__item
  .testimony__customer
    .testimony__avatar
      ='\n'
      img.testimony__avatar__el(src="assets/img/dummy/"+data.photo, alt=data.title)/
    .testimony__txt
      h4.testimony__customer__name
        | !{data.name}
      h6.testimony__customer__position
        | !{data.position}
  .testimony__desc
    h6.testimony__desc__txt
      | "!{data.desc}"
