/* -------------------------------------------------------------------------- */
/* Init: Fonts                                                                */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'KamengskiDraft01.2-Display';
  src: url('../fonts/KamengskiDraft01.2-Display.eot');
  src: url('../fonts/KamengskiDraft01.2-Display.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KamengskiDraft01.2-Display.otf') format('otf'),
       url('../fonts/KamengskiDraft01.2-Display.svg#KamengskiDraft01.2-Display') format('svg'),
       url('../fonts/KamengskiDraft01.2-Display.ttf') format('truetype'),
       url('../fonts/KamengskiDraft01.2-Display.woff') format('woff'),
       url('../fonts/KamengskiDraft01.2-Display.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.eot');
  src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Italic.otf') format('otf'),
       url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg'),
       url('../fonts/Roboto-Italic.woff') format('woff'),
       url('../fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular.otf') format('otf'),
       url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.eot');
  src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-BoldItalic.otf') format('otf'),
       url('../fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg'),
       url('../fonts/Roboto-BoldItalic.woff') format('woff'),
       url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold.otf') format('otf'),
       url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('../fonts/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
