/* -------------------------------------------------------------------------- */
/* Init: Fonts                                                                */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Light.eot');
  src: url('../fonts/Mulish-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-Light.woff2') format('woff2'),
  url('../fonts/Mulish-Light.woff') format('woff'),
  url('../fonts/Mulish-Light.ttf') format('truetype'),
  url('../fonts/Mulish-Light.svg#Mulish-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-LightItalic.eot');
  src: url('../fonts/Mulish-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-LightItalic.woff2') format('woff2'),
  url('../fonts/Mulish-LightItalic.woff') format('woff'),
  url('../fonts/Mulish-LightItalic.ttf') format('truetype'),
  url('../fonts/Mulish-LightItalic.svg#Mulish-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Regular.eot');
  src: url('../fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-Regular.woff2') format('woff2'),
  url('../fonts/Mulish-Regular.woff') format('woff'),
  url('../fonts/Mulish-Regular.ttf') format('truetype'),
  url('../fonts/Mulish-Regular.svg#Mulish-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-RegularItalic.eot');
  src: url('../fonts/Mulish-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-RegularItalic.woff2') format('woff2'),
  url('../fonts/Mulish-RegularItalic.woff') format('woff'),
  url('../fonts/Mulish-RegularItalic.ttf') format('truetype'),
  url('../fonts/Mulish-RegularItalic.svg#Mulish-RegularItalic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-SemiBold.eot');
  src: url('../fonts/Mulish-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-SemiBold.woff2') format('woff2'),
  url('../fonts/Mulish-SemiBold.woff') format('woff'),
  url('../fonts/Mulish-SemiBold.ttf') format('truetype'),
  url('../fonts/Mulish-SemiBold.svg#Mulish-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-SemiBoldItalic.eot');
  src: url('../fonts/Mulish-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Mulish-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Mulish-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/Mulish-SemiBoldItalic.svg#Mulish-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Bold.eot');
  src: url('../fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-Bold.woff2') format('woff2'),
  url('../fonts/Mulish-Bold.woff') format('woff'),
  url('../fonts/Mulish-Bold.ttf') format('truetype'),
  url('../fonts/Mulish-Bold.svg#Mulish-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-BoldItalic.eot');
  src: url('../fonts/Mulish-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Mulish-BoldItalic.woff2') format('woff2'),
  url('../fonts/Mulish-BoldItalic.woff') format('woff'),
  url('../fonts/Mulish-BoldItalic.ttf') format('truetype'),
  url('../fonts/Mulish-BoldItalic.svg#Mulish-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Trafalgar';
  src:  url('../fonts/Trafalgar.eot?dvihg9');
  src:  url('../fonts/Trafalgar.eot?dvihg9#iefix') format('embedded-opentype'),
    url('../fonts/Trafalgar.ttf?dvihg9') format('truetype'),
    url('../fonts/Trafalgar.woff?dvihg9') format('woff'),
    url('../fonts/Trafalgar.svg?dvihg9#Trafalgar') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
