/* -------------------------------------------------------------------------- */
/* Components: Article                                                        */
/* -------------------------------------------------------------------------- */

.article {
  $a: &;
  &__box {
    border-radius: 20px;
    position: relative;
    background-color: color(white);
    overflow: hidden;
    @include shadow(10);
    transition: all .3s ease;
    &:hover {
      transform: translateY(-4px);
      @include shadow(10hover);
      #{$a} {
        &__img__el {
          transform: scale(1.2);
        }
        &__txt__title {
          color: color(blue, 2);
        }
      }
      .fi-arrow-right {
        transform: translateX(4px);
      }
    }
  }
  &__link {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: zi(article-img-link);
  }
  &__img {
    $ai: &;
    position: relative;
    overflow: hidden;
    padding-bottom: 68.575%;
    &__el {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .5s ease;
    }
  }
  &__txt {
    padding: 24px 24px 96px;
    min-height: 248px;
    @include small {
      padding-bottom: 80px;
    }
    &__title {
      margin-bottom: 16px;
      transition: all .3s ease;
      @include multiline-ellipsis(2);
      @include medium {
        @include font-size(22);
      }
      @include small {
        @include font-size(20);
      }
    }
    &__description {
      margin-bottom: 0;
      @include multiline-ellipsis(3);
    }
    &__btn {
      position: absolute;
      left: 24px;
      right: 24px;
      bottom: 32px;
    }
  }
}
