/* -------------------------------------------------------------------------- */
/* Components: Feed Instagram                                                 */
/* -------------------------------------------------------------------------- */

.feed-instagram {

}
