/* -------------------------------------------------------------------------- */
/* Components: Feed Instagram                                                 */
/* -------------------------------------------------------------------------- */

.feed-instagram {
  padding-top: 160px;
  padding-bottom: 140px;
  @include large {
    padding-top: 144px;
    padding-bottom: 124px;
  }
  @include medium {
    padding-top: 104px;
    padding-bottom: 88px;
  }
  @include small {
    padding-top: 88px;
    padding-bottom: 72px;
  }
  @include x-small {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__title {
    font-family: ff(family-title);
    margin-bottom: 40px;
    @include large {
      @include font-size(h3);
      margin-bottom: 36px;
    }
    @include medium {
      @include font-size(h4);
      margin-bottom: 32px;
    }
    @include small {
      @include font-size(h5);
      margin-bottom: 28px;
    }
    @include x-small {
      @include font-size(h6);
    }
    span {
      font-family: ff(family-main);
    }
  }
  &__list {
    @include clearfix;
    margin-left: -14px;
    margin-right: -14px;
    @include medium {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
  &__item {
    width: 25%;
    float: left;
    padding: 0 14px;
    position: relative;
    @include medium {
      width: 50%;
      padding: 4px;
    }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .fts-instagram-inline-block-centered {
    margin-left: -14px;
    margin-right: -14px;
    @include small {
      margin-left: -24px;
      margin-right: -24px;
    }
  }
  .fts-instagram-link-target {
    width: 100% !important;
    padding-bottom: 100%;
    @include x-small {
      padding-left: 0 !important;
    }
  }
  .fts-instagram-wrapper {
    @include small {
      width: calc(50% - 28px) !important;
      margin: 4px !important;
    }
  }
  .slicker-instaG-backg-link {
    display: none;
  }
}
