/* -------------------------------------------------------------------------- */
/* Components: Filter                                                         */
/* -------------------------------------------------------------------------- */

.filter {
  display: none;
}
