/* -------------------------------------------------------------------------- */
/* Components: Hero Banner                                                    */
/* -------------------------------------------------------------------------- */

.hero-banner {
  &__item {
    padding-top: 24px;
    padding-bottom: 48px;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include medium {
      padding-top: 40px;
      padding-bottom: 56px;
    }
    @include small {
      padding-top: 32px;
      padding-bottom: 48px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: -40px;
      z-index: zi(hero-banner-bg);
      width: 130px;
      height: 115px;
      background: url(../img/bg/dot-pattern-1.svg) no-repeat center/100%;
      @include medium {
        top: 20px;
      }
      @include small {
        left: -32px;
        width: 80px;
        height: 71px;
      }
    }
  }
  &__wrapper {
    @include clearfix;
  }
  &__img {
    float: right;
    width: 52%;
    @include medium {
      float: none;
      width: 100%;
      margin-bottom: 32px;
    }
    &__el {
      display: block;
      width: 680px;
      max-width: initial;
      @include medium {
        width: 100%;
      }
    }
  }
  &__txt {
    float: left;
    width: 48%;
    padding-top: 104px;
    padding-right: 74px;
    @include large {
      padding-right: 48px;
    }
    @include medium {
      padding-top: 0;
      float: none;
      width: auto;
      padding-right: 0;
    }
  }
  &__title {
    max-width: 460px;
    @include font-size(48);
    font-weight: fw(bold);
    margin-bottom: 24px;
    color: color(black);
    @include medium {
      max-width: initial;
      @include font-size(36);
      margin-bottom: 16px;
    }
    @include small {
      @include font-size(24);
    }
  }
  &__desc {
    @include font-size(22);
    font-weight: fw(light);
    margin-bottom: 48px;
    color: color(grey);
    @include medium {
      max-width: initial;
      margin-bottom: 32px;
    }
    @include small {
      @include font-size(16);
      margin-bottom: 24px;
    }
  }
}
