/* -------------------------------------------------------------------------- */
/* Components: Product                                                        */
/* -------------------------------------------------------------------------- */

.product {
  $p: &;
  &__box {
    position: relative;
    &::before {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: color(primary);
      z-index: zi(product-bg);
      transition: all .3s ease;
      transition-delay: .1s;
    }
    &:hover {
      &::before {
        opacity: 1;
        transition-delay: 0s;
      }
      #{$p} {
        &__hover {
          opacity: 1;
          transition-delay: .05ms;
        }
        &__title,
        &__price {
          opacity: 1;
          transform: none;
          transition-delay: .1s;
        }
      }
    }
  }
  &__link {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: zi(product-link);
  }
  &__img {
    position: relative;
    padding-bottom: 100.39%;
    z-index: zi(product-img);
    &__el {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__hover {
    z-index: zi(product-hover);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 172px;
  }
  &__title {
    opacity: 0;
    transform: translateY(-8px);
    transition: all .3s ease;
    margin-bottom: 12px;
    transition-delay: 0s;
  }
  &__price {
    opacity: 0;
    transform: translateY(8px);
    transition: all .3s ease;
    margin-bottom: 0;
    transition-delay: 0s;
    font-weight: fw(regular);
  }
}
