/* -------------------------------------------------------------------------- */
/* Components: Product                                                        */
/* -------------------------------------------------------------------------- */

.product {
  $p: &;
  &__box {
    position: relative;
    &::before {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: color(primary);
      z-index: zi(product-bg);
      transition: all .3s ease;
      transition-delay: .1s;
      @include medium {
        display: none;
      }
    }
    &:hover {
      &::before {
        opacity: 1;
        transition-delay: 0s;
      }
      #{$p} {
        &__hover {
          opacity: 1;
          transition-delay: .05ms;
        }
        &__title,
        &__price {
          opacity: 1;
          transform: none;
          transition-delay: .1s;
        }
      }
    }
  }
  &__link {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: zi(product-link);
  }
  &__img {
    position: relative;
    padding-bottom: 100.39%;
    z-index: zi(product-img);
    @include medium {
      margin-bottom: 8px;
    }
    &__el {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__hover {
    z-index: zi(product-hover);
    position: absolute;
    left: 24px;
    right: 24px;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    @include medium {
      position: relative;
      transform: none;
      left: initial;
      top: initial;
      max-width: initial;
    }
  }
  &__title {
    opacity: 0;
    transform: translateY(-8px);
    transition: all .3s ease;
    margin-bottom: 12px;
    transition-delay: 0s;
    @include medium {
      opacity: 1;
      transform: none;
      margin-bottom: 8px;
      @include font-size(h5);
    }
    @include small {
      margin-bottom: 4px;
      @include font-size(h6);
    }
    @include x-small {
      @include font-size(label);
    }
  }
  &__price {
    opacity: 0;
    transform: translateY(8px);
    transition: all .3s ease;
    margin-bottom: 0;
    transition-delay: 0s;
    font-weight: fw(regular);
    @include medium {
      opacity: 1;
      transform: none;
      @include font-size(h5);
    }
    @include small {
      @include font-size(h6);
    }
    @include x-small {
      @include font-size(small);
    }
  }
}
