/* -------------------------------------------------------------------------- */
/* Components: Services                                                       */
/* -------------------------------------------------------------------------- */

.services {
  &__item {
    &__title {
      margin-bottom: 24px;
      @include medium {
        @include font-size(20);
      }
      @include small {
        @include font-size(18);
        margin-bottom: 16px;
      }
    }
    &__desc {
      margin-bottom: 0;
    }
  }
  &__box {
    padding: 56px 40px;
    border-radius: 20px;
    background-color: color(white);
    @include shadow(50);
    @include large {
      padding: 48px 32px;
    }
    @include medium {
      padding: 40px 24px;
    }
    @include x-small {
      @include shadow(20);
    }
  }
  &__img {
    position: relative;
    margin-bottom: 24px;
    height: 96px;
    @include large {
      height: 80px;
    }
    @include medium {
      height: 72px;
    }
    &__el {
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: 100%;
    }
  }
}
