/* -------------------------------------------------------------------------- */
/* Components: Testimony                                                      */
/* -------------------------------------------------------------------------- */

.testimony {
  &__item {
    @include clearfix;
    display: table;
    padding-left: 118px;
    padding-right: 118px;
    @include large {
      padding-left: 96px;
      padding-right: 96px;
    }
    @include medium {
      display: block;
      text-align: center;
      padding-left: 48px;
      padding-right: 48px;
    }
    @include small {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include x-small {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  &__avatar {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    overflow: hidden;
    border-radius: 50%;
    background-color: color(white);
    opacity: 0;
    transform: scale(.9);
    transition: all 1s ease;
    @include x-small {
      margin-bottom: 16px;
      padding: 2px;
    }
    &__el {
      border-radius: 50%;
      width: 133px;
      height: 133px;
      @include medium {
        width: 96px;
        height: 96px;
      }
      @include small {
        width: 72px;
        height: 72px;
      }
    }
  }
  &__txt {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-left: 24px;
    color: color(white);
    @include small {
      margin-left: 16px;
    }
    @include x-small {
      display: block;
      margin-left: 0;
    }
  }
  &__customer {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    @include medium {
      display: inline-block;
      text-align: left;
      width: auto;
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
    @include x-small {
      text-align: center;
    }
    &__name {
      @include font-size(20);
      font-weight: fw(bold);
      margin-bottom: 4px;
      opacity: 0;
      transform: translateX(12px);
      transition: all 1s ease;
      @include medium {
        transform: translateY(12px);
      }
      @include small {
        @include font-size(18);
      }
    }

    &__position {
      @include font-size(18);
      font-weight: fw(regular);
      margin-bottom: 0;
      opacity: 0;
      transform: translateX(12px);
      transition: all 1s ease;
      @include medium {
        transform: translateY(12px);
      }
      @include small {
        @include font-size(16);
      }
    }
  }
  &__desc {
    display: table-cell;
    vertical-align: middle;
    padding-left: 65px;
    opacity: 0;
    transform: translateX(8px);
    transition: all 1s ease;
    @include medium {
      transform: translateY(8px);
      display: block;
      padding-left: 0;
    }
    &__txt {
      @include font-size(18);
      font-weight: fw(semi-bold);
      margin-bottom: 0;
      color: color(white);
      @include small {
        @include font-size(16);
      }
    }
  }
}
