/* -------------------------------------------------------------------------- */
/* Grid: Grid System                                                          */
/* -------------------------------------------------------------------------- */

.container {
  width: 100%;
  max-width: $mw-container;
  margin-left: auto;
  margin-right: auto;
  @include mq(1280px) {
    max-width: initial;
    padding-left: 88px;
    padding-right: 88px;
  }
  @include medium {
    padding-left: 64px;
    padding-right: 64px;
  }
  @include small {
    padding-left: 48px;
    padding-right: 48px;
  }
  @include x-small {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include retina {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main-site {
  padding-top: 172px;
  transition: all .3s ease;
  transition-delay: 0s;
  @include medium {
    padding-top: 148px;
  }
  @include small {
    padding-top: 124px;
  }
  .home .show-animation & {
    padding-top: 100vh;
    transition: padding 2s ease, transform .3s ease 0s;
  }
  .home .show-animation.show-filter & {
    transition: padding 2s ease, transform .3s ease 0.4s;
  }
  .home .show-animation.run-scroll-animation & {
    padding-top: 172px;
  }
  .show-filter & {
    transition: padding 2s ease, transform .3s ease 0.4s;
    transform: translateX(-140px);
    @include large {
      transform: translateX(-64px);
    }
    @include medium {
      transform: translateX(-40px);
    }
    @include small {
      transform: none;
    }
  }
}
