/* -------------------------------------------------------------------------- */
/* Elements: Burger Menu                                                      */
/* -------------------------------------------------------------------------- */


.burger-menu {
  background-color: transparent;
  padding: 0;
  width: 48px;
  height: 48px;
  outline: 0;
  border: 0;
  cursor: pointer;
  &__bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 4px auto;
    background-color: color(black);
  }
}
