/* -------------------------------------------------------------------------- */
/* Elements: Button                                                           */
/* -------------------------------------------------------------------------- */

.btn {
  outline: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  transition: all .3s ease;
  @include remove-tap-highlight;
  &--primary,
  &--secondary {
    position: relative;
    @include font-size(h5);
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      transition: transform .45s ease;
      transform-origin: right center;
      border-bottom: 1px solid color(black);
    }
    &:hover {
      &::after {
        transform: scaleX(0);
        transform-origin: left center;
      }
    }
  }
  &--primary {
    text-transform: uppercase;
    font-weight: fw(bold);
  }
  &--secondary {

  }
}
