/* -------------------------------------------------------------------------- */
/* Elements: Button                                                           */
/* -------------------------------------------------------------------------- */

.btn {
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  padding: 13px 40px;
  border-radius: 55px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-weight: fw(bold);
  background-color: transparent;
  border: 1px solid transparent;
  transition: all .3s ease;
  @include font-size(18);
  @include remove-tap-highlight;
  @include small {
    @include font-size(16);
  }

  &--primary {
    color: color(white);
    background-color: color(blue, 1);
    &:hover {
      color: color(blue, 1);
      background-color: color(white);
      border-color: color(blue, 1);
    }
  }

  &--secondary {
    color: color(blue, 1);
    border-color: color(blue, 1);
    background-color: color(white);
    &:hover {
      color: color(white);
      background-color: color(blue, 1);
    }
  }

  &--primary,
  &--secondary {
    &-download {
      &:hover {
        .fi-arrow-down {
          &::before {
            animation-name: bounce;
          }
        }
      }
      .fi-arrow-down {
        font-size: 16px;
        margin-left: 14px;
        &::before {
          display: inline-block;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
        }
      }
    }
  }

  &--arrow {
    padding: 0;
    min-width: initial;
    color: color(blue, 3);
    font-weight: fw(semi-bold);
    text-decoration: none;
    transition: all .3s ease;
    @include font-size(18);
    @include small {
      @include font-size(16);
    }
    &:hover {
      opacity: .8;
      .fi-arrow-right {
        transform: translateX(4px);
      }
    }
    .fi-arrow-right {
      display: inline-block;
      vertical-align: middle;
      font-size: 10px;
      margin-left: 8px;
      transition: all .3s ease;
    }
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0)
  }
  40% {
    transform: translateY(-4px)
  }
  60% {
    transform: translateY(-4px)
  }
}
