/* -------------------------------------------------------------------------- */
/* Elements: Button                                                           */
/* -------------------------------------------------------------------------- */

.btn {
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  padding: 13px 40px;
  border-radius: 55px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-weight: fw(bold);
  background-color: transparent;
  border: 1px solid transparent;
  transition: all .3s ease;
  @include remove-tap-highlight;
}
