/* -------------------------------------------------------------------------- */
/* Elements: Icon                                                             */
/* -------------------------------------------------------------------------- */

.fi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Kamengski' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-arrow-left:before {
  content: "\e900";
}
.fi-arrow-right:before {
  content: "\e901";
}
