extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "home";
    siteTitle = 'Home';
    isHome = true;

//- Body
block siteContent
  //- Product
  include home/product.pug
  //- Story
  include home/story.pug
  //- Feed Instagram
  include home/feed-instagram.pug
  //- Contact
  include home/contact.pug
