extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "home";
    siteTitle = 'Home';

//- Body
block siteContent
  //- Hero Banner
  include home/hero-banner.pug
  //- Services
  include home/services.pug
  //- Leading Healthcare
  include home/leading-healthcare.pug
  //- Download Apps
  include home/download-apps.pug
  //- Testimony
  include home/testimony.pug
  //- Article
  include home/article.pug
