//- ------------------------------------------------------------------------ -//
//- Article                                                                  -//
//- ------------------------------------------------------------------------ -//

-
  dataArticle = {
    title: 'Check out our latest article',
    list: [
      {
        img: 'article-1.jpg',
        title: 'Disease detection',
        description: 'In this case, the role of the health laboratory is very important to doa disease detection In this case, the role of the health laboratory is very important to doa disease detection',
        to: '#'
      },
      {
        img: 'article-2.jpg',
        title: 'Herbal medicines that are safe for consumption Herbal medicines that are safe for consumption',
        description: 'Herbal medicine is very',
        to: '#'
      },
      {
        img: 'article-3.jpg',
        title: 'Natural care for healthy facial skin',
        description: 'A healthy lifestyle should start from now and also for your skin health. There are some A healthy lifestyle should start from now and also for your skin health. There are some',
        to: '#'
      }
    ],
    action: {
      to: '#',
      text: 'View all'
    }
  }

include ../../layouts/article.pug
