//- ------------------------------------------------------------------------ -//
//- Download Apps                                                            -//
//- ------------------------------------------------------------------------ -//

-
  data = {
    img: 'section-description-2.png',
    title: 'Download our mobile apps',
    desc: 'Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely',
    modifierBtn: 'download',
    modifier: 'reverse',
    action: {
      to: '#',
      text: 'Download'
    }
  }

include ../../components/section-description.pug
