//-------------------------------------------------------------------------------
  @name: Product
  -------------------------------------------------------------------------------//

-
  dataProduct = {

  }

include ../../layouts/product.pug
