//-------------------------------------------------------------------------------
  @name: Product
  -------------------------------------------------------------------------------//

-
  dataProduct = {
    list: [
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-1.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-2.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-3.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-4.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-5.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-6.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-7.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-8.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-9.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-10.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-11.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-12.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-13.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-14.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-15.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-16.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-17.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-18.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-19.png'
      },
      {
        to: 'product-detail.html',
        title: 'Berkah Football Club Jersey',
        price: '200000',
        img: 'product-20.png'
      },
    ]
  }

include ../../layouts/product.pug
