//-------------------------------------------------------------------------------
  @name: Story
  -------------------------------------------------------------------------------//

-
  dataStory = {
    list: [
      {
        title: 'Antara Musik, Film, dan Metode Comot Sana-sini',
        author: 'Reno Nismara'
      },
      {
        title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        author: 'Reno Nismara'
      },
      {
        title: 'Consectetur adipiscing elit Orem ipsum dolor sit amet. ',
        author: 'Reno Nismara'
      },
      {
        title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        author: 'Reno Nismara'
      },
    ]
  }

include ../../layouts/story.pug
