//- ------------------------------------------------------------------------ -//
//- Top Banner                                                               -//
//- ------------------------------------------------------------------------ -//

-
  dataTopBanner = [
    {
      title: 'Virtual healthcare for you',
      description: 'Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone',
      img: 'top-banner-1.png',
      link: '#',
      linkText: 'Consult today'
    }
  ]

include ../../layouts/top-banner.pug
