//-------------------------------------------------------------------------------
  @name: Detail Products
  -------------------------------------------------------------------------------//

//detail-products
.detail-products
  .container
