//-------------------------------------------------------------------------------
  @name: Footer
  -------------------------------------------------------------------------------//

//overlay
.overlay
//footer
.footer
  .container
    p.footer__copyright &copy; 2021 Kamengski. All Rights Reserved
    p.footer__info Design & Development By
      a(href='#')  After Another
