//-------------------------------------------------------------------------------
  @name: Product
  -------------------------------------------------------------------------------//

//product
.product#product
  .container
    .product__filter
      ='\n'
      button.product__filter__btn.btn.btn--primary.js-product-filter(type='button') filter product
    .product__list
      each val in dataProduct.list
        -
          data = val
        include ../components/product.pug
    include ../components/pagination.pug
