//-------------------------------------------------------------------------------
  @name: Related Product
  -------------------------------------------------------------------------------//

//related-product
.related-product
  .container
