//- ------------------------------------------------------------------------ -//
//- Services                                                                 -//
//- ------------------------------------------------------------------------ -//

//services
.services
  .container
    .services__head
      h2.text-title
        | !{dataServices.title}
      p.services__desc
        | !{dataServices.desc}
    .services__body
      //services-list
      .services__list.js-services-list
        each val in dataServices.list
          -
            data = val
          include ../components/services.pug
      .services__link
        =`\n`
        a.btn.btn--secondary(href=dataServices.action.to) !{dataServices.action.text}
