//-------------------------------------------------------------------------------
  @name: Story
  -------------------------------------------------------------------------------//

//story
.story
  .container
    .story__list.js-story-list
      each val, index in dataStory.list
        .story__item(data-index=index)
          .story__title
            ='\n'
            button.story__btn(type='button') !{val.title}
            .story__icon
              span.story__icon__bar
              span.story__icon__bar
          .story__collapse
            .story__content
              h5.story__author Oleh: !{val.author}
              .story__left
                p Tak perlu jadi ilmuwan untuk tahu bahwa musik dan film memiliki kaitan yang erat, bahkan tidak jarang semakin impresif berkat soundtrack terpilih, lagu yang dipresentasikan dengan video musik berkonsep sinematis, atau film musikal adalah beberapa contoh nyatanya. Namun bila diperkenankan menunjukan satu sosok di tanah air yang benar-benar menghidupi keduanya, baik musik atau film, Adythia Utama merupakan pilihan yang logis.
                p Adyth –  begitu ia disapa dan pastikan penulisannya tepat jika Anda mau menyapa lewat pesan teks – tumbuh besar dengan asupan budaya populer yang melimpah. Musik, baik yang kerap muncul di radio dan televisi atau temuan pribadi dari pembelian kaset tebak-tebak berhadiah, dan film, yang diputar di bioskop maupun koleksi bajakannya, senantiasa mengisi waktu luangnya. Maka merupakan alur kehidupan yang alami saat Adyth memutuskan kuliah film dan kemudai sekaligus bermusik noise/elektronik/ngehe dengan nama panggung individual Distortion sejak 2005.
                p Kini, setelah mengemban semakin banyak pengalaman di musik dan film, antara lain melalui album POP (2011) yang ekspansif serta menyutradarati film dokumenter Bising (2014) mengenai kancah musik noise Indonesia, Adyth hadir kembali sebagai Individual Distortion dengan album ketiga belas, Feature Length Nonsense. Sebuah karya musik berisi 35 lagu dengan durasi sekitar 90 menit, layaknya film panjang – menjadi bukti lebih lanjut kedekatan Adyth terhadap musik dan film. Dikerjakan selama pandemi, Feature Length Nonsense memuat upaya Individual Distortion dalam menciptakan satu set lagu dengan metode pencomotan alias sampling. “Pada dasarnya, hampir semua drum diambil dari lagu ‘Amen, Brother’–nya The Winstons, tepatnya Amen break yang memang sering digunakan di musik populer,” ungkap Adyth yang terinspirasi memakai sample tersebut dari Atari Teenage Riot, komplotan digital hardcore asal Berlin, Jerman.
              .story__right
                .story__single-img
                  ='\n'
                  img(src='assets/img/dummy/article-1.jpg', alt='Kamengski')/
                .story__db-img
                  ='\n'
                  img(src='assets/img/dummy/article-2.jpg', alt='Kamengski')/
                  ='\n'
                  img(src='assets/img/dummy/article-3.jpg', alt='Kamengski')/
                  p Caption Image
            .story__content
              .story__left
                .story__db-img
                  ='\n'
                  img(src='assets/img/dummy/article-2.jpg', alt='Kamengski')/
                  ='\n'
                  img(src='assets/img/dummy/article-3.jpg', alt='Kamengski')/
                  p Caption Image
              .story__right
                p Namun selain itu, Adyth juga menggunakan rentang sample yang begitu luas untuk album ini, dari Michelle Branch hingga M.I.A., New Kids on the Block hingga The Whitest Boy Alive, Dalek hingga Jon Brion, bahkan Dewa19 hingga omongan anak punk dari sebuah video yang ia temukan di Facebook. Hasilnya adalah Individual Distortion dengan kepribadian yang tidak pernah ia tunjukkan sebelumnya: ngehe sudah pasti (cek saja judul-judul lagu seperti “How Come Erind Oy Never Visited Our Country Anymore?”, “I Know Math Rock Better Than You Because I Used to Be a Science Student Back in High School”, dan “Ahmad Dhani Was Fucking Dead Years Ago”), namun terdapat pula kecermatan dalam memilih juga memadukan beragam bunyi yang sebelumnya tak pernah terbayangkan akan bertemu.
                p Pendekatan Adyth dalam penciptaan Feature Length Nonsense kemudian menginspirasi seniman kolase Moses Sihombing untuk mendesain sampul album yang interaktif. Lewat medium stiker, pemilik album dipersilahkan untuk membuat sampil versi mereka sendiri dengan aset visual yang sudah disiapkan Moses – seperti sampling, hanya saja untuk visual. Fakta bahwa album ini dirilis via Kamengski Records pun didasari oleh kesamaan semangat antara Adyth dengan Sulaiman Said – pemilik brand Kamengski yang dikenal akan produk pelesetannya – dalam mengolah hal yang sudah ada menjadi sesuatu yang baru. Feautre Length Nonsense pun menjadi album dengan konsep yang konsisten di berbagai lini. Namun yang lebih penting lagi, inilah album yang paling mewakili latar belakang dan karakterisstik Individual Distortion sejauh ini. Sebuah pernyataan kreatif yang menghirmati pembentukan diri dan mengingatkan kita akan pentingnya menjadi diri sendiri, meskipun itu meliputi pencomotan dari sana-sini.
