//- ------------------------------------------------------------------------ -//
//- Testimony                                                                -//
//- ------------------------------------------------------------------------ -//

//testimony
.testimony
  .container
    .testimony__box
      h2.text-title.text-title--white
        | !{dataTestimony.title}
      .testimony__list.js-testimony
        each val in dataTestimony.list
          -
            data = val
          include ../components/testimony.pug
