//- ------------------------------------------------------------------------ -//
//- Top Banner                                                               -//
//- ------------------------------------------------------------------------ -//

//top-banner
.top-banner
  .container
    //top-banner-list
    .top-banner__list
      each val in dataTopBanner
        -
          data = val
        include ../components/top-banner.pug
