/* -------------------------------------------------------------------------- */
/* Variables: Colors                                                          */
/* -------------------------------------------------------------------------- */

$colors: (
  primary: #23ff00,
  black: #000,
  white: #fff
);
