/* -------------------------------------------------------------------------- */
/* Variables: Grid                                                            */
/* -------------------------------------------------------------------------- */

$mw-container: 1120px;
