/* -------------------------------------------------------------------------- */
/* Variables: Typography                                                      */
/* -------------------------------------------------------------------------- */

$font-main: 'Mulish', sans-serif;

$font: (
  family-main: $font-main,
  h1: (
    font-size: 3.8rem,
    line-height: 4.6rem
  ),
  h2: (
    font-size: 2.8rem,
    line-height: 4rem
  ),
  h3: (
    font-size: 1.8rem,
    line-height: 2.8rem
  ),
  h4: (
    font-size: 1.6rem,
    line-height: 2.4rem
  ),
  h5: (
    font-size: 1.4rem,
    line-height: 2rem
  ),
  h6: (
    font-size: 1.2rem,
    line-height: 1.8rem
  ),
  f10: (
    font-size: 1rem,
    line-height: 1.6rem
  ),
  body: (
    font-size: 1.8rem,
    line-height: 2.8rem
  ),
  small: (
    font-size: .8rem,
    line-height: 1.4rem
  ),
  x-small: (
    font-size: .6rem,
    line-height: 1.2rem
  ),
  weight: (
    light: 300,
    regular: 400,
    semi-bold: 600,
    bold: 700
  )
);
