/* -------------------------------------------------------------------------- */
/* Variables: Z Index                                                         */
/* -------------------------------------------------------------------------- */

$z-index: (
  header: 9,
  header-logo: 5,
  header-list: 5,
  footer: 1,
  product-img: 1,
  product-bg: 2,
  product-hover: 3,
  product-link: 4
);
