/* -------------------------------------------------------------------------- */
/* Variables: Z Index                                                         */
/* -------------------------------------------------------------------------- */

$z-index: (
  popup-size-chart: 11,
  overlay: 10,
  filter: 0,
  header: 8,
  header-logo: 5,
  header-list: 5,
  footer: 1,
  product-img: 1,
  product-bg: 2,
  product-hover: 3,
  product-link: 4
);
