/* -------------------------------------------------------------------------- */
/* Variables: Z Index                                                         */
/* -------------------------------------------------------------------------- */

$z-index: (
  header: 9,
  footer: 1
);
